/* [next]/internal/font/google/geist_2ae47f08.module.css [app-client] (css) */
@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/8a480f0b521d4e75-s.8e0177b5.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/7178b3e590c64307-s.b97b3418.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/caa3a2e1cccd8315-s.p.853070df.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Geist Fallback;
  src: local(Arial);
  ascent-override: 95.94%;
  descent-override: 28.16%;
  line-gap-override: 0.0%;
  size-adjust: 104.76%;
}

.geist_2ae47f08-module__h69qWW__className {
  font-family: Geist, Geist Fallback;
  font-style: normal;
}

.geist_2ae47f08-module__h69qWW__variable {
  --font-geist-sans: "Geist", "Geist Fallback";
}

/* [next]/internal/font/google/geist_mono_eb58308d.module.css [app-client] (css) */
@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/4fa387ec64143e14-s.c1fdd6c2.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/bbc41e54d2fcbd21-s.799d8ef8.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/797e433ab948586e-s.p.dbea232f.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Geist Mono Fallback;
  src: local(Arial);
  ascent-override: 74.67%;
  descent-override: 21.92%;
  line-gap-override: 0.0%;
  size-adjust: 134.59%;
}

.geist_mono_eb58308d-module__w_p2Lq__className {
  font-family: Geist Mono, Geist Mono Fallback;
  font-style: normal;
}

.geist_mono_eb58308d-module__w_p2Lq__variable {
  --font-geist-mono: "Geist Mono", "Geist Mono Fallback";
}

/* [project]/app/globals.css [app-client] (css) */
@layer properties {
  @supports (((-webkit-hyphens: none)) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color: rgb(from red r g b)))) {
    *, :before, :after, ::backdrop {
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-translate-z: 0;
      --tw-rotate-x: initial;
      --tw-rotate-y: initial;
      --tw-rotate-z: initial;
      --tw-skew-x: initial;
      --tw-skew-y: initial;
      --tw-space-y-reverse: 0;
      --tw-border-style: solid;
      --tw-leading: initial;
      --tw-font-weight: initial;
      --tw-shadow: 0 0 #0000;
      --tw-shadow-color: initial;
      --tw-shadow-alpha: 100%;
      --tw-inset-shadow: 0 0 #0000;
      --tw-inset-shadow-color: initial;
      --tw-inset-shadow-alpha: 100%;
      --tw-ring-color: initial;
      --tw-ring-shadow: 0 0 #0000;
      --tw-inset-ring-color: initial;
      --tw-inset-ring-shadow: 0 0 #0000;
      --tw-ring-inset: initial;
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-offset-shadow: 0 0 #0000;
    }
  }
}

@layer theme {
  :root, :host {
    --color-gray-50: #f9fafb;
    --color-gray-100: #f3f4f6;
    --color-gray-200: #e5e7eb;
    --color-gray-300: #d1d5dc;
    --color-gray-400: #99a1af;
    --color-gray-600: #4a5565;
    --color-gray-700: #364153;
    --color-gray-900: #101828;
    --color-black: #000;
    --color-white: #fff;
    --spacing: .25rem;
    --text-xs: .75rem;
    --text-xs--line-height: calc(1 / .75);
    --text-sm: .875rem;
    --text-sm--line-height: calc(1.25 / .875);
    --text-lg: 1.125rem;
    --text-lg--line-height: calc(1.75 / 1.125);
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --leading-relaxed: 1.625;
    --radius-md: .375rem;
    --radius-lg: .5rem;
    --radius-2xl: 1rem;
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --default-font-family: var(--font-geist-sans);
    --default-mono-font-family: var(--font-geist-mono);
  }

  @supports (color: lab(0% 0 0)) {
    :root, :host {
      --color-gray-50: lab(98.2596% -.247031 -.706708);
      --color-gray-100: lab(96.1596% -.0823438 -1.13575);
      --color-gray-200: lab(91.6229% -.159115 -2.26791);
      --color-gray-300: lab(85.1236% -.612259 -3.7138);
      --color-gray-400: lab(65.9269% -.832707 -8.17473);
      --color-gray-600: lab(35.6337% -1.58697 -10.8425);
      --color-gray-700: lab(27.1134% -.956401 -12.3224);
      --color-gray-900: lab(8.11897% .811279 -12.254);
    }
  }
}

@layer base {
  *, :after, :before, ::backdrop {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  ::file-selector-button {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  html, :host {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    line-height: 1.5;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-feature-settings: var(--default-font-feature-settings, normal);
    font-variation-settings: var(--default-font-variation-settings, normal);
    -webkit-tap-highlight-color: transparent;
  }

  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }

  b, strong {
    font-weight: bolder;
  }

  code, kbd, samp, pre {
    font-family: var(--default-mono-font-family, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
    font-feature-settings: var(--default-mono-font-feature-settings, normal);
    font-variation-settings: var(--default-mono-font-variation-settings, normal);
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  sub, sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative;
  }

  sub {
    bottom: -.25em;
  }

  sup {
    top: -.5em;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  :-moz-focusring {
    outline: auto;
  }

  progress {
    vertical-align: baseline;
  }

  summary {
    display: list-item;
  }

  ol, ul, menu {
    list-style: none;
  }

  img, svg, video, canvas, audio, iframe, embed, object {
    vertical-align: middle;
    display: block;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  button, input, select, optgroup, textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }

  ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }

  :where(select:is([multiple], [size])) optgroup {
    font-weight: bolder;
  }

  :where(select:is([multiple], [size])) optgroup option {
    padding-inline-start: 20px;
  }

  ::file-selector-button {
    margin-inline-end: 4px;
  }

  ::placeholder {
    opacity: 1;
  }

  @supports (not ((-webkit-appearance: -apple-pay-button))) or (contain-intrinsic-size: 1px) {
    ::placeholder {
      color: currentColor;
    }

    @supports (color: color-mix(in lab, red, red)) {
      ::placeholder {
        color: color-mix(in oklab, currentcolor 50%, transparent);
      }
    }
  }

  textarea {
    resize: vertical;
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-date-and-time-value {
    min-height: 1lh;
    text-align: inherit;
  }

  ::-webkit-datetime-edit {
    display: inline-flex;
  }

  ::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }

  ::-webkit-datetime-edit {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-year-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-month-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-day-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-hour-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-minute-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-second-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-millisecond-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-meridiem-field {
    padding-block: 0;
  }

  ::-webkit-calendar-picker-indicator {
    line-height: 1;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  button, input:where([type="button"], [type="reset"], [type="submit"]) {
    appearance: button;
  }

  ::file-selector-button {
    appearance: button;
  }

  ::-webkit-inner-spin-button {
    height: auto;
  }

  ::-webkit-outer-spin-button {
    height: auto;
  }

  [hidden]:where(:not([hidden="until-found"])) {
    display: none !important;
  }
}

@layer components;

@layer utilities {
  .pointer-events-none {
    pointer-events: none;
  }

  .absolute {
    position: absolute;
  }

  .fixed {
    position: fixed;
  }

  .relative {
    position: relative;
  }

  .inset-0 {
    inset: calc(var(--spacing) * 0);
  }

  .top-0 {
    top: calc(var(--spacing) * 0);
  }

  .top-1\/2 {
    top: 50%;
  }

  .top-3 {
    top: calc(var(--spacing) * 3);
  }

  .top-20 {
    top: calc(var(--spacing) * 20);
  }

  .top-\[-18px\] {
    top: -18px;
  }

  .top-\[12px\] {
    top: 12px;
  }

  .top-full {
    top: 100%;
  }

  .right-0 {
    right: calc(var(--spacing) * 0);
  }

  .right-5 {
    right: calc(var(--spacing) * 5);
  }

  .right-\[12px\] {
    right: 12px;
  }

  .bottom-0 {
    bottom: calc(var(--spacing) * 0);
  }

  .left-0 {
    left: calc(var(--spacing) * 0);
  }

  .left-1\/2 {
    left: 50%;
  }

  .left-3 {
    left: calc(var(--spacing) * 3);
  }

  .left-5 {
    left: calc(var(--spacing) * 5);
  }

  .left-\[12px\] {
    left: 12px;
  }

  .z-0 {
    z-index: 0;
  }

  .z-10 {
    z-index: 10;
  }

  .z-20 {
    z-index: 20;
  }

  .z-100 {
    z-index: 100;
  }

  .z-5000 {
    z-index: 5000;
  }

  .container {
    width: 100%;
  }

  @media (min-width: 40rem) {
    .container {
      max-width: 40rem;
    }
  }

  @media (min-width: 48rem) {
    .container {
      max-width: 48rem;
    }
  }

  @media (min-width: 64rem) {
    .container {
      max-width: 64rem;
    }
  }

  @media (min-width: 80rem) {
    .container {
      max-width: 80rem;
    }
  }

  @media (min-width: 96rem) {
    .container {
      max-width: 96rem;
    }
  }

  .m-2 {
    margin: calc(var(--spacing) * 2);
  }

  .mx-5 {
    margin-inline: calc(var(--spacing) * 5);
  }

  .mx-auto {
    margin-inline: auto;
  }

  .my-2 {
    margin-block: calc(var(--spacing) * 2);
  }

  .mt-1 {
    margin-top: calc(var(--spacing) * 1);
  }

  .mt-2 {
    margin-top: calc(var(--spacing) * 2);
  }

  .mt-4 {
    margin-top: calc(var(--spacing) * 4);
  }

  .mt-6 {
    margin-top: calc(var(--spacing) * 6);
  }

  .mt-10 {
    margin-top: calc(var(--spacing) * 10);
  }

  .mt-\[-2px\] {
    margin-top: -2px;
  }

  .mt-\[0px\] {
    margin-top: 0;
  }

  .mt-\[4px\] {
    margin-top: 4px;
  }

  .mt-\[9px\] {
    margin-top: 9px;
  }

  .mt-\[20px\] {
    margin-top: 20px;
  }

  .mt-\[32px\] {
    margin-top: 32px;
  }

  .mt-\[61px\] {
    margin-top: 61px;
  }

  .mt-\[242px\] {
    margin-top: 242px;
  }

  .mr-5 {
    margin-right: calc(var(--spacing) * 5);
  }

  .mr-auto {
    margin-right: auto;
  }

  .mb-2 {
    margin-bottom: calc(var(--spacing) * 2);
  }

  .mb-3 {
    margin-bottom: calc(var(--spacing) * 3);
  }

  .mb-4 {
    margin-bottom: calc(var(--spacing) * 4);
  }

  .mb-5 {
    margin-bottom: calc(var(--spacing) * 5);
  }

  .mb-6 {
    margin-bottom: calc(var(--spacing) * 6);
  }

  .mb-\[2px\] {
    margin-bottom: 2px;
  }

  .mb-\[8px\] {
    margin-bottom: 8px;
  }

  .mb-\[12px\] {
    margin-bottom: 12px;
  }

  .mb-\[14px\] {
    margin-bottom: 14px;
  }

  .mb-\[16px\] {
    margin-bottom: 16px;
  }

  .mb-\[20px\] {
    margin-bottom: 20px;
  }

  .mb-\[32px\] {
    margin-bottom: 32px;
  }

  .mb-\[34px\] {
    margin-bottom: 34px;
  }

  .mb-\[40px\] {
    margin-bottom: 40px;
  }

  .ml-5 {
    margin-left: calc(var(--spacing) * 5);
  }

  .ml-\[4px\] {
    margin-left: 4px;
  }

  .ml-\[5px\] {
    margin-left: 5px;
  }

  .block {
    display: block;
  }

  .flex {
    display: flex;
  }

  .grid {
    display: grid;
  }

  .hidden {
    display: none;
  }

  .inline-block {
    display: inline-block;
  }

  .inline-flex {
    display: inline-flex;
  }

  .aspect-square {
    aspect-ratio: 1;
  }

  .h-3 {
    height: calc(var(--spacing) * 3);
  }

  .h-4 {
    height: calc(var(--spacing) * 4);
  }

  .h-5 {
    height: calc(var(--spacing) * 5);
  }

  .h-6 {
    height: calc(var(--spacing) * 6);
  }

  .h-8 {
    height: calc(var(--spacing) * 8);
  }

  .h-\[4px\] {
    height: 4px;
  }

  .h-\[6px\] {
    height: 6px;
  }

  .h-\[13px\] {
    height: 13px;
  }

  .h-\[20px\] {
    height: 20px;
  }

  .h-\[32px\] {
    height: 32px;
  }

  .h-\[40px\] {
    height: 40px;
  }

  .h-\[49px\] {
    height: 49px;
  }

  .h-\[50px\] {
    height: 50px;
  }

  .h-\[60px\] {
    height: 60px;
  }

  .h-\[73px\] {
    height: 73px;
  }

  .h-\[96px\] {
    height: 96px;
  }

  .h-\[134px\] {
    height: 134px;
  }

  .h-\[207px\] {
    height: 207px;
  }

  .h-\[346px\] {
    height: 346px;
  }

  .h-\[381px\] {
    height: 381px;
  }

  .h-auto {
    height: auto;
  }

  .h-full {
    height: 100%;
  }

  .h-px {
    height: 1px;
  }

  .max-h-\[32px\] {
    max-height: 32px;
  }

  .max-h-\[48px\] {
    max-height: 48px;
  }

  .max-h-\[calc\(100vh-6rem\)\] {
    max-height: calc(100vh - 6rem);
  }

  .min-h-screen {
    min-height: 100vh;
  }

  .w-3 {
    width: calc(var(--spacing) * 3);
  }

  .w-4 {
    width: calc(var(--spacing) * 4);
  }

  .w-5 {
    width: calc(var(--spacing) * 5);
  }

  .w-6 {
    width: calc(var(--spacing) * 6);
  }

  .w-8 {
    width: calc(var(--spacing) * 8);
  }

  .w-32 {
    width: calc(var(--spacing) * 32);
  }

  .w-48 {
    width: calc(var(--spacing) * 48);
  }

  .w-64 {
    width: calc(var(--spacing) * 64);
  }

  .w-\[13px\] {
    width: 13px;
  }

  .w-\[20px\] {
    width: 20px;
  }

  .w-\[32px\] {
    width: 32px;
  }

  .w-\[40px\] {
    width: 40px;
  }

  .w-\[50px\] {
    width: 50px;
  }

  .w-\[60px\] {
    width: 60px;
  }

  .w-\[96px\] {
    width: 96px;
  }

  .w-\[120px\] {
    width: 120px;
  }

  .w-\[172px\] {
    width: 172px;
  }

  .w-\[206px\] {
    width: 206px;
  }

  .w-\[207px\] {
    width: 207px;
  }

  .w-\[299px\] {
    width: 299px;
  }

  .w-\[302px\] {
    width: 302px;
  }

  .w-auto {
    width: auto;
  }

  .w-fit {
    width: fit-content;
  }

  .w-full {
    width: 100%;
  }

  .max-w-\[32px\] {
    max-width: 32px;
  }

  .max-w-\[48px\] {
    max-width: 48px;
  }

  .max-w-\[326px\] {
    max-width: 326px;
  }

  .max-w-\[340px\] {
    max-width: 340px;
  }

  .max-w-\[353px\] {
    max-width: 353px;
  }

  .max-w-\[524px\] {
    max-width: 524px;
  }

  .min-w-\[40px\] {
    min-width: 40px;
  }

  .min-w-\[60px\] {
    min-width: 60px;
  }

  .flex-1 {
    flex: 1;
  }

  .flex-shrink-0 {
    flex-shrink: 0;
  }

  .-translate-x-1\/2 {
    --tw-translate-x: calc(calc(1 / 2 * 100%) * -1);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }

  .-translate-y-1\/2 {
    --tw-translate-y: calc(calc(1 / 2 * 100%) * -1);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }

  .rotate-180 {
    rotate: 180deg;
  }

  .transform {
    transform: var(--tw-rotate-x, ) var(--tw-rotate-y, ) var(--tw-rotate-z, ) var(--tw-skew-x, ) var(--tw-skew-y, );
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .resize {
    resize: both;
  }

  .appearance-none {
    appearance: none;
  }

  .grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .flex-col {
    flex-direction: column;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .items-baseline {
    align-items: baseline;
  }

  .items-center {
    align-items: center;
  }

  .items-start {
    align-items: flex-start;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-center {
    justify-content: center;
  }

  .gap-1 {
    gap: calc(var(--spacing) * 1);
  }

  .gap-2 {
    gap: calc(var(--spacing) * 2);
  }

  .gap-3 {
    gap: calc(var(--spacing) * 3);
  }

  .gap-4 {
    gap: calc(var(--spacing) * 4);
  }

  .gap-5 {
    gap: calc(var(--spacing) * 5);
  }

  .gap-6 {
    gap: calc(var(--spacing) * 6);
  }

  .gap-8 {
    gap: calc(var(--spacing) * 8);
  }

  .gap-\[4px\] {
    gap: 4px;
  }

  .gap-\[5px\] {
    gap: 5px;
  }

  .gap-\[8px\] {
    gap: 8px;
  }

  .gap-\[9px\] {
    gap: 9px;
  }

  .gap-\[12px\] {
    gap: 12px;
  }

  .gap-\[42px\] {
    gap: 42px;
  }

  :where(.space-y-2 > :not(:last-child)) {
    --tw-space-y-reverse: 0;
    margin-block-start: calc(calc(var(--spacing) * 2) * var(--tw-space-y-reverse));
    margin-block-end: calc(calc(var(--spacing) * 2) * calc(1 - var(--tw-space-y-reverse)));
  }

  :where(.space-y-4 > :not(:last-child)) {
    --tw-space-y-reverse: 0;
    margin-block-start: calc(calc(var(--spacing) * 4) * var(--tw-space-y-reverse));
    margin-block-end: calc(calc(var(--spacing) * 4) * calc(1 - var(--tw-space-y-reverse)));
  }

  :where(.space-y-\[16px\] > :not(:last-child)) {
    --tw-space-y-reverse: 0;
    margin-block-start: calc(16px * var(--tw-space-y-reverse));
    margin-block-end: calc(16px * calc(1 - var(--tw-space-y-reverse)));
  }

  :where(.space-y-\[20px\] > :not(:last-child)) {
    --tw-space-y-reverse: 0;
    margin-block-start: calc(20px * var(--tw-space-y-reverse));
    margin-block-end: calc(20px * calc(1 - var(--tw-space-y-reverse)));
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .overflow-x-auto {
    overflow-x: auto;
  }

  .overflow-y-auto {
    overflow-y: auto;
  }

  .scroll-smooth {
    scroll-behavior: smooth;
  }

  .rounded-2xl {
    border-radius: var(--radius-2xl);
  }

  .rounded-\[8px\] {
    border-radius: 8px;
  }

  .rounded-\[12px\] {
    border-radius: 12px;
  }

  .rounded-\[16px\] {
    border-radius: 16px;
  }

  .rounded-\[20px\] {
    border-radius: 20px;
  }

  .rounded-\[24px\] {
    border-radius: 24px;
  }

  .rounded-\[32px\] {
    border-radius: 32px;
  }

  .rounded-full {
    border-radius: 3.40282e38px;
  }

  .rounded-lg {
    border-radius: var(--radius-lg);
  }

  .rounded-md {
    border-radius: var(--radius-md);
  }

  .border {
    border-style: var(--tw-border-style);
    border-width: 1px;
  }

  .border-0 {
    border-style: var(--tw-border-style);
    border-width: 0;
  }

  .border-\[0\.5px\] {
    border-style: var(--tw-border-style);
    border-width: .5px;
  }

  .border-\[1\.5px\] {
    border-style: var(--tw-border-style);
    border-width: 1.5px;
  }

  .border-b {
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 1px;
  }

  .border-b-2 {
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 2px;
  }

  .border-none {
    --tw-border-style: none;
    border-style: none;
  }

  .border-\[\#0000000D\] {
    border-color: #0000000d;
  }

  .border-\[\#020202\] {
    border-color: #020202;
  }

  .border-\[\#4040401A\] {
    border-color: #4040401a;
  }

  .border-\[\#BE968E\] {
    border-color: #be968e;
  }

  .border-\[\#E6E6E6\] {
    border-color: #e6e6e6;
  }

  .border-\[\#F4F7F9\] {
    border-color: #f4f7f9;
  }

  .border-gray-200 {
    border-color: var(--color-gray-200);
  }

  .border-transparent {
    border-color: #0000;
  }

  .bg-\[\#020202B2\] {
    background-color: #020202b2;
  }

  .bg-\[\#BE968E\] {
    background-color: #be968e;
  }

  .bg-\[\#C4C4C4\] {
    background-color: #c4c4c4;
  }

  .bg-\[\#D4D4D4\] {
    background-color: #d4d4d4;
  }

  .bg-\[\#E6E6E6\] {
    background-color: #e6e6e6;
  }

  .bg-\[\#E8EDF2\] {
    background-color: #e8edf2;
  }

  .bg-\[\#ECECEC66\] {
    background-color: #ececec66;
  }

  .bg-\[\#F4F7F9\] {
    background-color: #f4f7f9;
  }

  .bg-\[\#F5F5F5\] {
    background-color: #f5f5f5;
  }

  .bg-black\/30 {
    background-color: #0000004d;
  }

  @supports (color: color-mix(in lab, red, red)) {
    .bg-black\/30 {
      background-color: color-mix(in oklab, var(--color-black) 30%, transparent);
    }
  }

  .bg-gray-50 {
    background-color: var(--color-gray-50);
  }

  .bg-gray-200 {
    background-color: var(--color-gray-200);
  }

  .bg-transparent {
    background-color: #0000;
  }

  .bg-white {
    background-color: var(--color-white);
  }

  .bg-cover {
    background-size: cover;
  }

  .bg-center {
    background-position: center;
  }

  .bg-no-repeat {
    background-repeat: no-repeat;
  }

  .object-contain {
    object-fit: contain;
  }

  .object-cover {
    object-fit: cover;
  }

  .p-2 {
    padding: calc(var(--spacing) * 2);
  }

  .p-4 {
    padding: calc(var(--spacing) * 4);
  }

  .p-\[6px\] {
    padding: 6px;
  }

  .px-3 {
    padding-inline: calc(var(--spacing) * 3);
  }

  .px-4 {
    padding-inline: calc(var(--spacing) * 4);
  }

  .px-5 {
    padding-inline: calc(var(--spacing) * 5);
  }

  .px-6 {
    padding-inline: calc(var(--spacing) * 6);
  }

  .px-8 {
    padding-inline: calc(var(--spacing) * 8);
  }

  .px-\[9px\] {
    padding-inline: 9px;
  }

  .px-\[16px\] {
    padding-inline: 16px;
  }

  .px-\[20px\] {
    padding-inline: 20px;
  }

  .px-\[24px\] {
    padding-inline: 24px;
  }

  .py-1\.5 {
    padding-block: calc(var(--spacing) * 1.5);
  }

  .py-2 {
    padding-block: calc(var(--spacing) * 2);
  }

  .py-3 {
    padding-block: calc(var(--spacing) * 3);
  }

  .py-4 {
    padding-block: calc(var(--spacing) * 4);
  }

  .py-5 {
    padding-block: calc(var(--spacing) * 5);
  }

  .py-\[10px\] {
    padding-block: 10px;
  }

  .py-\[14px\] {
    padding-block: 14px;
  }

  .pt-2 {
    padding-top: calc(var(--spacing) * 2);
  }

  .pt-\[29px\] {
    padding-top: 29px;
  }

  .pt-\[58px\] {
    padding-top: 58px;
  }

  .pr-5 {
    padding-right: calc(var(--spacing) * 5);
  }

  .pb-\[12px\] {
    padding-bottom: 12px;
  }

  .pb-\[20px\] {
    padding-bottom: 20px;
  }

  .pb-\[48px\] {
    padding-bottom: 48px;
  }

  .text-center {
    text-align: center;
  }

  .text-left {
    text-align: left;
  }

  .text-lg {
    font-size: var(--text-lg);
    line-height: var(--tw-leading, var(--text-lg--line-height));
  }

  .text-sm {
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
  }

  .text-xs {
    font-size: var(--text-xs);
    line-height: var(--tw-leading, var(--text-xs--line-height));
  }

  .text-\[10px\] {
    font-size: 10px;
  }

  .text-\[12px\] {
    font-size: 12px;
  }

  .text-\[14px\] {
    font-size: 14px;
  }

  .text-\[16px\] {
    font-size: 16px;
  }

  .text-\[20px\] {
    font-size: 20px;
  }

  .text-\[24px\] {
    font-size: 24px;
  }

  .text-\[28px\] {
    font-size: 28px;
  }

  .text-\[40px\] {
    font-size: 40px;
  }

  .text-\[60px\] {
    font-size: 60px;
  }

  .text-\[80px\] {
    font-size: 80px;
  }

  .leading-relaxed {
    --tw-leading: var(--leading-relaxed);
    line-height: var(--leading-relaxed);
  }

  .font-bold {
    --tw-font-weight: var(--font-weight-bold);
    font-weight: var(--font-weight-bold);
  }

  .font-medium {
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
  }

  .font-normal {
    --tw-font-weight: var(--font-weight-normal);
    font-weight: var(--font-weight-normal);
  }

  .font-semibold {
    --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold);
  }

  .text-nowrap {
    text-wrap: nowrap;
  }

  .whitespace-nowrap {
    white-space: nowrap;
  }

  .text-\[\#8A8A8A\] {
    color: #8a8a8a;
  }

  .text-\[\#020202\] {
    color: #020202;
  }

  .text-\[\#333333\] {
    color: #333;
  }

  .text-\[\#545454\] {
    color: #545454;
  }

  .text-\[\#B0B0B0\] {
    color: #b0b0b0;
  }

  .text-\[\#BE968E\] {
    color: #be968e;
  }

  .text-\[\#FFFFFFB2\] {
    color: #ffffffb2;
  }

  .text-\[\#FFFFFFCC\] {
    color: #fffc;
  }

  .text-black {
    color: var(--color-black);
  }

  .text-gray-400 {
    color: var(--color-gray-400);
  }

  .text-gray-600 {
    color: var(--color-gray-600);
  }

  .text-gray-700 {
    color: var(--color-gray-700);
  }

  .text-transparent {
    color: #0000;
  }

  .text-white {
    color: var(--color-white);
  }

  .line-through {
    text-decoration-line: line-through;
  }

  .antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .placeholder-\[\#8A8A8A\]::placeholder {
    color: #8a8a8a;
  }

  .shadow-lg {
    --tw-shadow: 0 10px 15px -3px var(--tw-shadow-color, #0000001a), 0 4px 6px -4px var(--tw-shadow-color, #0000001a);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .shadow-md {
    --tw-shadow: 0 4px 6px -1px var(--tw-shadow-color, #0000001a), 0 2px 4px -2px var(--tw-shadow-color, #0000001a);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .shadow-xl {
    --tw-shadow: 0 20px 25px -5px var(--tw-shadow-color, #0000001a), 0 8px 10px -6px var(--tw-shadow-color, #0000001a);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .transition-all {
    transition-property: all;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .transition-colors {
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .transition-opacity {
    transition-property: opacity;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .transition-transform {
    transition-property: transform, translate, scale, rotate;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .\[-moz-appearance\:textfield\] {
    -moz-appearance: textfield;
  }

  @media (hover: hover) {
    .group-hover\:text-gray-900:is(:where(.group):hover *) {
      color: var(--color-gray-900);
    }
  }

  @media (hover: hover) {
    .hover\:border-\[\#BE968E\]:hover {
      border-color: #be968e;
    }
  }

  @media (hover: hover) {
    .hover\:bg-\[\#BE968E\]:hover {
      background-color: #be968e;
    }
  }

  @media (hover: hover) {
    .hover\:bg-\[\#a8857d\]:hover {
      background-color: #a8857d;
    }
  }

  @media (hover: hover) {
    .hover\:bg-gray-50:hover {
      background-color: var(--color-gray-50);
    }
  }

  @media (hover: hover) {
    .hover\:bg-gray-100:hover {
      background-color: var(--color-gray-100);
    }
  }

  @media (hover: hover) {
    .hover\:bg-gray-300:hover {
      background-color: var(--color-gray-300);
    }
  }

  @media (hover: hover) {
    .hover\:text-\[\#BE968E\]:hover {
      color: #be968e;
    }
  }

  @media (hover: hover) {
    .hover\:text-gray-600:hover {
      color: var(--color-gray-600);
    }
  }

  @media (hover: hover) {
    .hover\:text-gray-900:hover {
      color: var(--color-gray-900);
    }
  }

  @media (hover: hover) {
    .hover\:opacity-70:hover {
      opacity: .7;
    }
  }

  @media (hover: hover) {
    .hover\:opacity-80:hover {
      opacity: .8;
    }
  }

  .focus\:border-\[\#020202\]:focus {
    border-color: #020202;
  }

  .focus\:ring-0:focus {
    --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .focus\:outline-none:focus {
    --tw-outline-style: none;
    outline-style: none;
  }

  @media (min-width: 48rem) {
    .md\:mx-\[120px\] {
      margin-inline: 120px;
    }
  }

  @media (min-width: 48rem) {
    .md\:hidden {
      display: none;
    }
  }

  @media (min-width: 48rem) {
    .md\:inline {
      display: inline;
    }
  }

  @media (min-width: 48rem) {
    .md\:h-\[191px\] {
      height: 191px;
    }
  }

  @media (min-width: 48rem) {
    .md\:w-\[369px\] {
      width: 369px;
    }
  }

  @media (min-width: 48rem) {
    .md\:max-w-\[1102px\] {
      max-width: 1102px;
    }
  }

  @media (min-width: 48rem) {
    .md\:px-8 {
      padding-inline: calc(var(--spacing) * 8);
    }
  }

  @media (min-width: 48rem) {
    .md\:px-\[120px\] {
      padding-inline: 120px;
    }
  }

  @media (min-width: 48rem) {
    .md\:py-4 {
      padding-block: calc(var(--spacing) * 4);
    }
  }

  @media (min-width: 48rem) {
    .md\:text-\[16px\] {
      font-size: 16px;
    }
  }

  @media (min-width: 48rem) {
    .md\:text-\[32px\] {
      font-size: 32px;
    }
  }

  @media (min-width: 48rem) {
    .md\:text-\[80px\] {
      font-size: 80px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:top-4 {
      top: calc(var(--spacing) * 4);
    }
  }

  @media (min-width: 64rem) {
    .lg\:top-\[16px\] {
      top: 16px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:right-\[16px\] {
      right: 16px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:left-4 {
      left: calc(var(--spacing) * 4);
    }
  }

  @media (min-width: 64rem) {
    .lg\:mx-0 {
      margin-inline: calc(var(--spacing) * 0);
    }
  }

  @media (min-width: 64rem) {
    .lg\:mt-0 {
      margin-top: calc(var(--spacing) * 0);
    }
  }

  @media (min-width: 64rem) {
    .lg\:mt-6 {
      margin-top: calc(var(--spacing) * 6);
    }
  }

  @media (min-width: 64rem) {
    .lg\:mt-\[9px\] {
      margin-top: 9px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:mt-\[99px\] {
      margin-top: 99px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:mt-\[154px\] {
      margin-top: 154px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:mr-\[120px\] {
      margin-right: 120px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:mr-\[141px\] {
      margin-right: 141px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:mb-0 {
      margin-bottom: calc(var(--spacing) * 0);
    }
  }

  @media (min-width: 64rem) {
    .lg\:mb-3 {
      margin-bottom: calc(var(--spacing) * 3);
    }
  }

  @media (min-width: 64rem) {
    .lg\:mb-6 {
      margin-bottom: calc(var(--spacing) * 6);
    }
  }

  @media (min-width: 64rem) {
    .lg\:mb-8 {
      margin-bottom: calc(var(--spacing) * 8);
    }
  }

  @media (min-width: 64rem) {
    .lg\:mb-\[20px\] {
      margin-bottom: 20px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:mb-\[64px\] {
      margin-bottom: 64px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:ml-\[40px\] {
      margin-left: 40px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:ml-\[120px\] {
      margin-left: 120px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:block {
      display: block;
    }
  }

  @media (min-width: 64rem) {
    .lg\:contents {
      display: contents;
    }
  }

  @media (min-width: 64rem) {
    .lg\:flex {
      display: flex;
    }
  }

  @media (min-width: 64rem) {
    .lg\:hidden {
      display: none;
    }
  }

  @media (min-width: 64rem) {
    .lg\:h-5 {
      height: calc(var(--spacing) * 5);
    }
  }

  @media (min-width: 64rem) {
    .lg\:h-6 {
      height: calc(var(--spacing) * 6);
    }
  }

  @media (min-width: 64rem) {
    .lg\:h-12 {
      height: calc(var(--spacing) * 12);
    }
  }

  @media (min-width: 64rem) {
    .lg\:h-\[73px\] {
      height: 73px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:h-\[142px\] {
      height: 142px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:h-\[268px\] {
      height: 268px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:h-\[514px\] {
      height: 514px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:h-\[565px\] {
      height: 565px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:w-5 {
      width: calc(var(--spacing) * 5);
    }
  }

  @media (min-width: 64rem) {
    .lg\:w-6 {
      width: calc(var(--spacing) * 6);
    }
  }

  @media (min-width: 64rem) {
    .lg\:w-12 {
      width: calc(var(--spacing) * 12);
    }
  }

  @media (min-width: 64rem) {
    .lg\:w-\[142px\] {
      width: 142px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:w-\[234px\] {
      width: 234px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:w-\[288px\] {
      width: 288px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:w-\[299px\] {
      width: 299px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:w-\[305px\] {
      width: 305px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:w-\[484px\] {
      width: 484px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:max-w-\[324px\] {
      max-width: 324px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:max-w-\[510px\] {
      max-width: 510px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:max-w-\[524px\] {
      max-width: 524px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (min-width: 64rem) {
    .lg\:flex-row {
      flex-direction: row;
    }
  }

  @media (min-width: 64rem) {
    .lg\:items-center {
      align-items: center;
    }
  }

  @media (min-width: 64rem) {
    .lg\:gap-0 {
      gap: calc(var(--spacing) * 0);
    }
  }

  @media (min-width: 64rem) {
    .lg\:gap-2 {
      gap: calc(var(--spacing) * 2);
    }
  }

  @media (min-width: 64rem) {
    .lg\:gap-4 {
      gap: calc(var(--spacing) * 4);
    }
  }

  @media (min-width: 64rem) {
    .lg\:gap-5 {
      gap: calc(var(--spacing) * 5);
    }
  }

  @media (min-width: 64rem) {
    .lg\:gap-8 {
      gap: calc(var(--spacing) * 8);
    }
  }

  @media (min-width: 64rem) {
    :where(.lg\:space-y-\[9px\] > :not(:last-child)) {
      --tw-space-y-reverse: 0;
      margin-block-start: calc(9px * var(--tw-space-y-reverse));
      margin-block-end: calc(9px * calc(1 - var(--tw-space-y-reverse)));
    }
  }

  @media (min-width: 64rem) {
    :where(.lg\:space-y-\[32px\] > :not(:last-child)) {
      --tw-space-y-reverse: 0;
      margin-block-start: calc(32px * var(--tw-space-y-reverse));
      margin-block-end: calc(32px * calc(1 - var(--tw-space-y-reverse)));
    }
  }

  @media (min-width: 64rem) {
    .lg\:px-4 {
      padding-inline: calc(var(--spacing) * 4);
    }
  }

  @media (min-width: 64rem) {
    .lg\:px-\[14px\] {
      padding-inline: 14px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:px-\[46px\] {
      padding-inline: 46px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:py-\[21px\] {
      padding-block: 21px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:pt-\[56px\] {
      padding-top: 56px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:pt-\[62px\] {
      padding-top: 62px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:pr-\[120px\] {
      padding-right: 120px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:pb-\[8px\] {
      padding-bottom: 8px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:pb-\[32px\] {
      padding-bottom: 32px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:pb-\[44px\] {
      padding-bottom: 44px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:text-sm {
      font-size: var(--text-sm);
      line-height: var(--tw-leading, var(--text-sm--line-height));
    }
  }

  @media (min-width: 64rem) {
    .lg\:text-\[16px\] {
      font-size: 16px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:text-\[20px\] {
      font-size: 20px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:text-\[24px\] {
      font-size: 24px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:text-\[120px\] {
      font-size: 120px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:font-medium {
      --tw-font-weight: var(--font-weight-medium);
      font-weight: var(--font-weight-medium);
    }
  }

  @media (min-width: 64rem) {
    .lg\:font-normal {
      --tw-font-weight: var(--font-weight-normal);
      font-weight: var(--font-weight-normal);
    }
  }

  @media (min-width: 64rem) {
    .lg\:text-\[\#545454\] {
      color: #545454;
    }
  }

  @media (min-width: 64rem) {
    .lg\:text-\[\#FFFFFFB2\] {
      color: #ffffffb2;
    }
  }

  .\[\&\:\:-webkit-inner-spin-button\]\:appearance-none::-webkit-inner-spin-button {
    appearance: none;
  }

  .\[\&\:\:-webkit-outer-spin-button\]\:appearance-none::-webkit-outer-spin-button {
    appearance: none;
  }
}

:root {
  --background: #fff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.phone-input-container .PhoneInput {
  align-items: center;
  display: flex;
}

.phone-input-container .PhoneInputInput {
  border: 1px solid #545454;
  border-radius: .375rem;
  width: 100%;
  padding: .5rem .75rem;
  font-size: .875rem;
  line-height: 1.25rem;
  box-shadow: 0 1px 2px #0000000d;
  color: #020202 !important;
}

.phone-input-container .PhoneInputInput::placeholder {
  opacity: 1;
  color: #545454 !important;
}

.phone-input-container .PhoneInputInput:focus {
  ring: 2px;
  ring-color: #be968e;
  outline: none;
  border-color: #be968e !important;
}

.phone-input-container .PhoneInputCountry {
  margin-right: .5rem;
}

.phone-input-container .PhoneInputCountryIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.phone-input-container .PhoneInputCountrySelect {
  background-color: #fff;
  border: 1px solid #545454;
  border-radius: .375rem;
  padding: .25rem;
  color: #020202 !important;
}

.phone-input-container .PhoneInputCountrySelect:focus {
  ring: 2px;
  ring-color: #be968e;
  border-color: #be968e;
  outline: none;
}

.phone-input-container .PhoneInputCountrySelectArrow {
  opacity: 1;
  color: #545454 !important;
}

@property --tw-translate-x {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-y {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-z {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-rotate-x {
  syntax: "*";
  inherits: false
}

@property --tw-rotate-y {
  syntax: "*";
  inherits: false
}

@property --tw-rotate-z {
  syntax: "*";
  inherits: false
}

@property --tw-skew-x {
  syntax: "*";
  inherits: false
}

@property --tw-skew-y {
  syntax: "*";
  inherits: false
}

@property --tw-space-y-reverse {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-leading {
  syntax: "*";
  inherits: false
}

@property --tw-font-weight {
  syntax: "*";
  inherits: false
}

@property --tw-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-inset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-inset-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-inset-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-ring-inset {
  syntax: "*";
  inherits: false
}

@property --tw-ring-offset-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --tw-ring-offset-color {
  syntax: "*";
  inherits: false;
  initial-value: #fff;
}

@property --tw-ring-offset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

/*# sourceMappingURL=%5Broot-of-the-server%5D__af6e68da._.css.map*/